<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang chủ</title>

    <link href="/views/assets/home.css" rel="stylesheet" type="text/css" />

    <%- include('../../partials/header.ejs') %>
  </head>
  <body>
    <!-- navbar -->
    <%- include('../../partials/navbar.ejs') %>
    <!-- Content -->
    <div class="bg-light">
      <div class="container-fluid p-3">
        <div class="row gy-3">
          <div class="col-12 col-sm-12 col-md-12 col-lg-4">
            <div class="card bg-white p-3">
              <div class="text-center">
                <img
                  src="https://www.w3schools.com/w3images/avatar2.png"
                  class="rounded"
                  alt="..."
                  style="width: 300px; height: 300px"
                />
              </div>
              <div class="p-3 text-center">
                <input type="file" />
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-8">
            <div class="card bg-white p-3">
              <h5>Thông tin</h5>
              <hr />
              <div class="row">
                <div class="col lh-lg">
                  <div><strong>Họ tên:</strong> <%= item.fullname %></div>
                  <div><strong>Tên tài khoản:</strong> <%= item.username %></div>
                  <div><strong>Email: </strong> <%= item.email %></div>
                </div>
                <div class="col lh-lg">
                  <div><strong>Số điện thoại:</strong> <%= item.phone %></div>
                  <div><strong>Địa chỉ:</strong> <%= item.address %></div>
                </div>
              </div>
            </div>
            <div class="card bg-white p-3 mt-3">
              <h5>Lịch sử mua hàng</h5>
              <hr />
              <div class="row" style="height: 300px; overflow: scroll;">
                <table class="table table-borderless">
                  <thead class="table-info">
                    <tr class="text-center">
                      <th scope="col">#</th>
                      <th scope="col">Mã đơn hàng</th>
                      <th scope="col">Thành tiền</th>
                      <th scope="col">PT thanh toán</th>
                      <th scope="col">Ngày mua</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% listOrder.forEach(function(item, index) { %>
                    <tr>
                      <th scope="row"><%= index+1 %></th>
                      <td class="d-flex">
                        <%= item._id %>
                      </td>
                      <td class="text-center">
                        <div class="fw-bold"><%= item.totalPrice %> $</div>
                      </td>
                      <td class="w-2 fw-bold text-center">
                        <%= item.paymentMethod %>
                      </td>
                      <td class="w-2 fw-bold text-center">
                        <%= item.createDate %>
                      </td>
                    </tr>
                    <% }); %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <%- include('../../partials/footer.ejs') %>
  </body>
  <script></script>
</html>
