<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chi tiết sản phẩm</title>
    <%- include('../partials/header.ejs') %>
  </head>
  <body>
    <!-- navbar -->
    <%- include('../partials/navbar.ejs') %>
    <!-- detail -->
    <div class="container">
      <div class="row">
        <div class="col d-flex justify-content-center text-center">
          <img src="<%= data.imageUrl %>" class="rounded float-end" alt="...">
        </div>
        <div class="col">
          <div>
            <h3><%= data.name %></h3>
            <h6>Tác giả: <%= data.author %></h6>
            <h2 style="color:red"><%= data.price %> $</h2>
            <p>
                  <% for (var j = 0; j < 5; j++){ %> <% if (j < data.rate){ %>
                  <span class="fa fa-star checked" style="color: yellow"></span>
                  <% } else { %>
                  <span class="fa fa-star"></span>
                  <% } %> <% } %>
            </p>
            <i><%= data.description %></i>
	          <div style="padding-top: 20px;">
              <button onclick="addToCart('<%= data._id %>')" type="button" class="btn btn-danger"><i class="bi bi-cart3"></i>&nbsp;Thêm vào giỏ hàng</button>
              <button type="button" class="btn btn-danger" style="color:red; background-color: white; border: 1.5px solid red;">Mua ngay</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
  </body>
  <script>
    function addToCart(pid) {
      $.ajax({
        url: `/cart/current/${pid}`,
        type: "GET",
        success: function (rs) {
          // console.log(rs);
          alert(rs.msg);
        },
      });
    }
  </script>
</html>
