<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang chủ</title>

    <link href="/public/assets/home.css" rel="stylesheet" type="text/css" />

    <%- include('../partials/header.ejs') %>
  </head>
  <body>
    <!-- navbar -->
    <%- include('../partials/navbar.ejs') %>
    <!-- Content -->
    <div
      id="carouselExampleControls"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/neshtech-1b9aa.appspot.com/o/banner1.png?alt=media&token=fa5794d7-b43d-44b5-ab98-1461da39ebc6"
            class="d-block object-fit-fill"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/neshtech-1b9aa.appspot.com/o/banner2.png?alt=media&token=c8364762-ff65-4003-9841-484c5c7e0027"
            class="d-block object-fit-fill"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/neshtech-1b9aa.appspot.com/o/banner3.png?alt=media&token=d1ffdd75-240e-4569-9169-8580f3886a36"
            class="d-block object-fit-fill"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span
          class="carousel-control-prev-icon bng-black"
          aria-hidden="true"
        ></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span
          class="carousel-control-next-icon bg-black"
          aria-hidden="true"
        ></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="container pt-5">
      <div class="row d-flex">
        <div class="col col-6 col-sm-3 d-flex justify-content-center p-3">
          <div class="service-icon">
            <svg
              version="1.0"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="50px"
              height="50px"
              viewBox="0 0 64 64"
              enable-background="new 0 0 64 64"
              xml:space="preserve"
            >
              <path
                fill="#231F20"
                d="M60,52V4c0-2.211-1.789-4-4-4H14v51v3h42v8H10c-2.209,0-4-1.791-4-4s1.791-4,4-4h2v-3V0H8
	C5.789,0,4,1.789,4,4v54c0,3.313,2.687,6,6,6h49c0.553,0,1-0.447,1-1s-0.447-1-1-1h-1v-8C59.104,54,60,53.104,60,52z M23,14h12
	c0.553,0,1,0.447,1,1s-0.447,1-1,1H23c-0.553,0-1-0.447-1-1S22.447,14,23,14z M42,28H23c-0.553,0-1-0.447-1-1s0.447-1,1-1h19
	c0.553,0,1,0.447,1,1S42.553,28,42,28z M49,22H23c-0.553,0-1-0.447-1-1s0.447-1,1-1h26c0.553,0,1,0.447,1,1S49.553,22,49,22z"
              />
            </svg>
          </div>

          <div style="margin-left: 20px">
            <h5>100+</h5>
            <b style="color: green">Loại sách khác nhau</b><br />
          </div>
        </div>
        <div
          class="col col-6 col-sm-3 d-flex justify-content-center p-3 border-2 border-start"
        >
          <div>
            <svg
              fill="#000000"
              width="50px"
              height="50px"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M2,21h8a1,1,0,0,0,0-2H3.071A7.011,7.011,0,0,1,10,13a5.044,5.044,0,1,0-3.377-1.337A9.01,9.01,0,0,0,1,20,1,1,0,0,0,2,21ZM10,5A3,3,0,1,1,7,8,3,3,0,0,1,10,5Zm13,8.5v5a.5.5,0,0,1-.5.5h-1v2L19,19H14.5a.5.5,0,0,1-.5-.5v-5a.5.5,0,0,1,.5-.5h8A.5.5,0,0,1,23,13.5Z"
              />
            </svg>
          </div>

          <div style="margin-left: 20px">
            <h5>150+</h5>
            <b style="color: green">Khách hàng thân thiết</b><br />
          </div>
        </div>
        <div
          class="col col-6 col-sm-3 d-flex justify-content-center p-3 border-2 border-start"
        >
          <div>
            <svg
              width="50px"
              height="50px"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10.75 2.44995C11.44 1.85995 12.57 1.85995 13.27 2.44995L14.85 3.81005C15.15 4.07005 15.71 4.28002 16.11 4.28002H17.81C18.87 4.28002 19.74 5.14996 19.74 6.20996V7.91003C19.74 8.30003 19.95 8.87004 20.21 9.17004L21.57 10.75C22.16 11.44 22.16 12.57 21.57 13.27L20.21 14.85C19.95 15.15 19.74 15.71 19.74 16.11V17.8101C19.74 18.8701 18.87 19.74 17.81 19.74H16.11C15.72 19.74 15.15 19.95 14.85 20.21L13.27 21.5699C12.58 22.1599 11.45 22.1599 10.75 21.5699L9.17002 20.21C8.87002 19.95 8.31001 19.74 7.91001 19.74H6.18C5.12 19.74 4.25 18.8701 4.25 17.8101V16.1C4.25 15.71 4.04001 15.15 3.79001 14.85L2.44 13.26C1.86 12.57 1.86 11.45 2.44 10.76L3.79001 9.17004C4.04001 8.87004 4.25 8.31004 4.25 7.92004V6.20996C4.25 5.14996 5.12 4.28002 6.18 4.28002H7.91001C8.30001 4.28002 8.87002 4.07005 9.17002 3.81005L10.75 2.44995Z"
                stroke="#292D32"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M9.89001 14.82L11.34 15.94C11.53 16.13 11.95 16.22 12.23 16.22H14C14.56 16.22 15.17 15.8 15.31 15.24L16.43 11.82C16.66 11.17 16.24 10.6 15.54 10.6H13.67C13.39 10.6 13.16 10.3701 13.2 10.0401L13.43 8.54008C13.52 8.12008 13.24 7.65005 12.82 7.51005C12.45 7.37005 11.98 7.56 11.79 7.84L9.87 10.69"
                stroke="#292D32"
                stroke-width="1.5"
                stroke-miterlimit="10"
              />
              <path
                d="M7.5 14.8199V10.24C7.5 9.57999 7.78 9.34998 8.44 9.34998H8.91C9.56 9.34998 9.85001 9.57999 9.85001 10.24V14.8199C9.85001 15.4699 9.57 15.71 8.91 15.71H8.44C7.78 15.71 7.5 15.4799 7.5 14.8199Z"
                stroke="#292D32"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>

          <div style="margin-left: 20px">
            <h5>100%</h5>
            <b style="color: green">Khách hàng hài lòng</b><br />
          </div>
        </div>
        <div
          class="col col-6 col-sm-3 d-flex justify-content-center p-3 border-2 border-start"
        >
          <div>
            <svg
              width="50px"
              height="50px"
              viewBox="0 -0.5 21 21"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <title>star_favorite [#1499]</title>
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g
                id="Page-1"
                stroke="none"
                stroke-width="1"
                fill="none"
                fill-rule="evenodd"
              >
                <g
                  id="Dribbble-Light-Preview"
                  transform="translate(-99.000000, -320.000000)"
                  fill="#000000"
                >
                  <g id="icons" transform="translate(56.000000, 160.000000)">
                    <path
                      d="M60.556381,172.206 C60.1080307,172.639 59.9043306,173.263 60.0093306,173.875 L60.6865811,177.791 C60.8976313,179.01 59.9211306,180 58.8133798,180 C58.5214796,180 58.2201294,179.931 57.9282291,179.779 L54.3844766,177.93 C54.1072764,177.786 53.8038262,177.714 53.499326,177.714 C53.1958758,177.714 52.8924256,177.786 52.6152254,177.93 L49.0714729,179.779 C48.7795727,179.931 48.4782224,180 48.1863222,180 C47.0785715,180 46.1020708,179.01 46.3131209,177.791 L46.9903714,173.875 C47.0953715,173.263 46.8916713,172.639 46.443321,172.206 L43.575769,169.433 C42.4480682,168.342 43.0707186,166.441 44.6289197,166.216 L48.5916225,165.645 C49.211123,165.556 49.7466233,165.17 50.0227735,164.613 L51.7951748,161.051 C52.143775,160.35 52.8220755,160 53.499326,160 C54.1776265,160 54.855927,160.35 55.2045272,161.051 L56.9769285,164.613 C57.2530787,165.17 57.7885791,165.556 58.4080795,165.645 L62.3707823,166.216 C63.9289834,166.441 64.5516338,168.342 63.423933,169.433 L60.556381,172.206 Z"
                      id="star_favorite-[#1499]"
                    ></path>
                  </g>
                </g>
              </g>
            </svg>
          </div>

          <div style="margin-left: 20px">
            <h5>100+</h5>
            <b style="color: green">Lượt đánh giá 5 sao</b><br />
          </div>
        </div>
      </div>
    </div>

    <div class="container p-3 mt-4">
      <div class="row gy-3">
        <div class="col col-12 col-sm-6 d-flex justify-content-center">
          <img
            src="https://cdn0.fahasa.com/media/magentothem/banner7/ZaloPayT523_840x320_SlideBanner.jpg"
            class="card-img-top"
            alt="..."
            style="width: 100%; height: 300px; cursor: pointer"
          />
        </div>
        <div class="col col-12 col-sm-6 d-flex justify-content-center">
          <img
            src="https://cdn0.fahasa.com/media/magentothem/banner7/Back2School_T523_mainbanner_840x320.png"
            class="card-img-top"
            alt="..."
            style="width: 100%; height: 300px; cursor: pointer"
          />
        </div>
      </div>
    </div>
    <p class="fs-2 text-center mt-5 top-title">Top Seller</p>
    <hr class="hr-style" />
    <div class="container mt-4">
      <div class="row gy-3">
        <% for (var i = 0; i < listItems.length ; i++) { %>
        <div
          class="col col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center"
        >
          <div class="card" id="productCard">
            <div class="product-img">
              <img src="<%= listItems[i].imageUrl %>" alt="..." />
            </div>

            <div class="card-body">
              <% for (var j = 0; j < 5; j++){ %> <% if (j < listItems[i].rate){
              %>
              <span class="fa fa-star checked"></span>
              <% } else { %>
              <span class="fa fa-star"></span>
              <% } %> <% } %>
              <h5 class="card-title"><%= listItems[i].name %></h5>
              <p class="card-text">$<%= listItems[i].price %></p>
            </div>
            <div class="overlay">
              <div class="d-grid gap-2 col-8 mx-auto">
                <a
                  href="/products/detail/<%= listItems[i]._id %>"
                  type="button"
                  class="btn btn-outline-secondary"
                >
                  <i class="bi bi-eye-fill"></i> &nbsp;Xem chi tiết
                </a>
                <button
                  onclick="addToCart('<%= listItems[i]._id %>')"
                  class="btn btn-primary"
                  type="button"
                >
                  <i class="bi bi-cart2"></i> &nbsp;Thêm vào giỏ
                </button>
              </div>
            </div>
          </div>
        </div>
        <% } %>
        <div class="text-center" id="more">
          <a href="/products" id="more-link">Xem thêm</a>
        </div>
      </div>
    </div>
    <div class="container mt-4">
      <div class="row gy-3" id="bottom-ad">
        <div
          class="col col-12 col-sm-6 col-md-6 col-lg-3 d-flex justify-content-center"
        >
          <img
            src="https://cdn0.fahasa.com/media/wysiwyg/Thang-05-2023/SaleT3_Bo2_Smallbanner_310x210_2.png"
            alt="..."
          />
        </div>
        <div
          class="col col-12 col-sm-6 col-md-6 col-lg-3 d-flex justify-content-center"
        >
          <img
            src="https://cdn0.fahasa.com/media/wysiwyg/Thang-05-2023/SubBanner_T523_-03_TrangThieuNhi.png"
            alt="..."
          />
        </div>
        <div
          class="col col-12 col-sm-6 col-md-6 col-lg-3 d-flex justify-content-center"
        >
          <img
            src="https://cdn0.fahasa.com/media/wysiwyg/Thang-05-2023/Tamlinh_mainbanner_T5_Smallbanner_310x210_2.png"
            alt="..."
          />
        </div>
        <div
          class="col col-12 col-sm-6 col-md-6 col-lg-3 d-flex justify-content-center"
        >
          <img
            src="https://cdn0.fahasa.com/media/wysiwyg/Thang-05-2023/TrangDoChoiT523_Banner_SmallBanner_310x210.png"
            alt="..."
          />
        </div>
      </div>
    </div>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
  </body>
  <script>
    function addToCart(pid) {
      $.ajax({
        url: `/cart/current/${pid}`,
        type: "GET",
        success: function (rs) {
          // console.log(rs);
          alert(rs.msg);
        },
      });
    }
    function getDetail(id) {
      $.ajax({
        type: "GET",
        url: `/products/detail/${id}`,
        success: function (rs) {
          if (rs.s === 200) {
            let data = rs.data;
            // set data vừa get đc lên <input>
            document.getElementById("_idEdit").value = data._id;
            document.getElementById("nameEdit").value = data.name;
            document.getElementById("priceEdit").value = data.price;
            document.getElementById("rateEdit").value = data.rate;
            document.getElementById("descriptionEdit").value = data.description;
            document.getElementById("imageUrlEdit").value = data.imageUrl;
            document.getElementById("imageUploadEdit").src = data.imageUrl;
            document.getElementById("authorEdit").value = data.author;
          }
        },
      });
    }
  </script>
</html>
