<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <%- include('../../partials/header.ejs') %>
  </head>
  <body>
    <%- include('../../partials/admin/adminNavbar.ejs') %>
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <%- include('../../partials/admin/adminSidebar.ejs') %>
        <div class="col py-3">
          <% if(products) { %> <%- include('./productList.ejs') %> <% } %> <%
          if(users) { %> <%- include('./userList.ejs') %> <% } %>
        </div>
      </div>
    </div>
    <script>
      function editProduct(id) {
        $.ajax({
          type: "GET",
          url: `/admin/products/detail/${id}`,
          success: function (rs) {
            if (rs.s === 200) {
              let data = rs.data;
              var formEdit = `
              <form class="row g-3" action="/admin/products/edit" method="post">
            <div class="col-md-12">
              <img src="${data.imageUrl}" height="100px" width="100px" id="imageUpload"/>
              <input
                style="display: none"
                type="text"
                class="form-control"
                name="imageUrl"
                id="imageUrl"
                value="${data.imageUrl}"
              />
            </div>
            <div>
                            <input type="hidden" class="form-control" id="_id" name="_id" value="${data._id}">
                        </div>
            <div class="col-md-6">
              <label for="name" class="form-label">Tên sản phẩm</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Nhập tên"
                value="${data.name}"
              />
            </div>
            <div class="col-6">
              <label for="price" class="form-label">Giá</label>
              <input
                type="number"
                class="form-control"
                id="price"
                name="price"
                placeholder="Nhập giá"
                value="${data.price}"
              />
            </div>
            <div class="col-6">
              <label for="rate" class="form-label">Đánh giá</label>
              <input
                type="number"
                class="form-control"
                id="rate"
                name="rate"
                placeholder="Nhập đánh giá"
                value="${data.rate}"
              />
            </div>
            <div class="col-6">
              <label for="description" class="form-label">Mô tả</label>
              <input
                type="text"
                class="form-control"
                id="description"
                name="description"
                placeholder="Nhập mô tả"
                value="${data.description}"
              />
            </div>

            <div class="col-12">
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Đóng
                </button>
                <button type="submit" class="btn btn-primary">Lưu</button>
              </div>
            </div>
          </form>

                  `;
              $("#formEdit").html(formEdit);
            }
          },
        });
      }
      function deleteItem(id) {
        $.ajax({
          type: "DELETE",
          url: `/admin/products/delete/${id}`,
          success: function (rs) {
            alert("delete success");
            window.location.reload();
          },
        });
      }

      function uploadImage() {
        var fileInput = document.getElementById("image_file");
        var file = fileInput.files[0];
        var formData = new FormData();
        formData.append("file", file);

        $.ajax({
          url: "/admin/products/upload-image",
          type: "POST",
          data: formData,
          processData: false,
          contentType: false,
          success: function (response) {
            document.getElementById("imageUpload").src = response.urlUploaded;
            document.getElementById("imageUrl").value = response.urlUploaded;
          },
          error: function (xhr, status, error) {
            // Xử lý lỗi
          },
        });
      }
    </script>
  </body>
</html>
