<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>

    <link href="/public/assets/admin.css" rel="stylesheet" type="text/css" />
    <%- include('../../partials/header.ejs') %>
  </head>
  <body>
    <%- include('../../partials/admin/adminNavbar.ejs') %>
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <%- include('../../partials/admin/adminSidebar.ejs') %>
        <div class="col py-3">
          <% if(products) { %> <%- include('./productList.ejs') %> <% } %> <%
          if(promotion) { %> <%- include('./promotionList.ejs') %> <% } %> <%
          if(users) { %> <%- include('./userList.ejs') %> <% } %> <% if(staffs)
          { %> <%- include('./staffList.ejs') %> <% } %> <% if (category){ %>
          <%- include('./category.ejs') %> <% } %>
        </div>
      </div>
    </div>
    <script>
      function editProduct(id) {
        $.ajax({
          type: "GET",
          url: `/admin/products/detail/${id}`,
          success: function (rs) {
            if (rs.s === 200) {
              let data = rs.data;
              // set data vừa get đc lên <input>
              document.getElementById("_idEdit").value = data._id;
              document.getElementById("nameEdit").value = data.name;
              document.getElementById("priceEdit").value = data.price;
              document.getElementById("categoriEdit").value = data.categoryId;
              document.getElementById("descriptionEdit").value =
                data.description;
              document.getElementById("imageUrlEdit").value = data.imageUrl;
              document.getElementById("imageUploadEdit").src = data.imageUrl;
              document.getElementById("authorEdit").value = data.author;
            }
          },
        });
      }
      function editcategory(id) 
        $.ajax({
          type: "GET",
          url: `/admin/category/detail/${id}`,
          success: function (rs) {
            if (rs.s === 200) {
              let data = rs.data;
        
              // set data vừa get đc lên <input>
              document.getElementById("nameEdit").value = data?.name;
              document.getElementById("_idEdit").value = data?._id;
            }
          },
        });
      }
      function deleteItem(id) {
        $.ajax({
          type: "DELETE",
          url: `/admin/products/delete/${id}`,
          success: function (rs) {
            alert("delete success");
            window.location.reload();
          },
        });
      }
      function deletecategory(id) {
        $.ajax({
          type: "DELETE",
          url: `/admin/category/delete/${id}`,
          success: function (rs) {
            alert("delete success");
            window.location.reload();
          },
        });
      }

      function deletePromotion(id) {
        $.ajax({
          type: "DELETE",
          url: `/admin/promotion/delete/${id}`,
          success: function (rs) {
            alert("delete success");
            window.location.reload();
          },
        });
      }

      function uploadImage() {
        var fileInput = document.getElementById("image_file");
        var file = fileInput.files[0];
        if (!file) {
          return alert("Vui lòng chọn ảnh");
        }
        var formData = new FormData();
        formData.append("file", file);

        $.ajax({
          url: "/admin/products/upload-image",
          type: "POST",
          data: formData,
          processData: false,
          contentType: false,
          success: function (response) {
            document.getElementById("imageUpload").src = response.urlUploaded;
            document.getElementById("imageUrl").value = response.urlUploaded;
          },
          error: function (xhr, status, error) {
            // Xử lý lỗi
          },
        });
      }
      function uploadImageForEdit() {
        var fileInput = document.getElementById("image_file_edit");
        var file = fileInput.files[0];
        if (!file) {
          return alert("Vui lòng chọn ảnh");
        }
        var formData = new FormData();
        formData.append("file", file);

        $.ajax({
          url: "/admin/products/upload-image",
          type: "POST",
          data: formData,
          processData: false,
          contentType: false,
          success: function (response) {
            document.getElementById("imageUploadEdit").src =
              response.urlUploaded;
            document.getElementById("imageUrlEdit").value =
              response.urlUploaded;
          },
          error: function (xhr, status, error) {
            // Xử lý lỗi
          },
        });
      }
    </script>
  </body>
</html>
