<div class="jumbotron">
  <h3>Danh sách khách hàng</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Họ tên</th>
        <th scope="col">Email</th>
        <th scope="col">username</th>
        <th scope="col">Trạng thái</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(function(item, index) { %>
      <tr>
        <th scope="row"><%= index+1 %></th>
        <td><%= item.fullname %></td>
        <td><%= item.email %></td>
        <td><%= item.username %></td>
        <td>
          <% if(item.active == false) { %>
          <span class="badge rounded-pill bg-danger">Chưa kích hoạt</span>
          <% } %> <% if(item.active == true) { %>
          <span class="badge rounded-pill bg-success">Đã kích hoạt</span>
          <% } %>
        </td>
      </tr>
      <%});%>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <% for(var i=1; i <= pages; i++) { %>
      <li class="page-item">
        <a class="page-link" href="/admin/user/list?page=<%= i %>"><%= i %></a>
      </li>
      <% }; %>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
